@media screen and (max-width: 600px){
    .nav-items li{
        padding: .5rem 0;
    }
    .nav-items li:nth-child(1){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .index{
        background-position: center;
    }
    .index h1{
        font-size: 3em;
    }
    .index h2{
        font-size: 1.5em;
    }
    .highlights p{
        left: initial;
        right: initial;
        font-size: 1em;
    }
    .extra{
        grid-template-columns: 1fr;
    }
    .extra .info{
        /* width: 100%; */
        margin-top: -4rem;
        background-attachment: scroll;
    }
    .info button{
        bottom: auto;
    }
    .extra .facts{
        margin: 2rem 0;
        margin-top: 4rem;
    }
    .austin .main{
        grid-template-columns: 1fr;
    }
    .austin form{
        padding: 1rem;
    }
    .about{
        background-image: url("../images/net.jpg");
        /* background-size: cover;
        background-position: center;
        background-attachment: fixed; */
        grid-template-columns: auto;
        padding: 3rem 1rem;
    }
    .about .tea{
        padding: 0;
        text-align: justify;
        color: var(--white);
    }
    figure h3{
        top: 30%;
        left: 5%;
    }
    .values h3{
        margin: 0;
        text-align: center;
    }
    .values .cores{
        grid-template-columns: auto;
    }
    .cores ul{
        width: 300px;
        height: auto; 
        padding: 0;       
    }
    .cores ul li{
        top: 0;
    }
    .cores h4{
        position: relative;
        left: -30%;
        top: 30%;
        transform: rotate(-90deg);
    }
    .team .team-cards{
        grid-template-columns: auto;
        padding: 2rem 0;
    }
    #register{
        padding-top: 50%;
    }
    form .input-field{
        margin: 0;
    }
    /* form .input-field #remember{
        display: block !important;
    } */
    form fieldset{
        grid-template-columns: 1fr;
    }
    .auth form{
        left: 0 !important;
    }
    footer .topaz{
        margin: 0;
    }
    footer .contents{
        display: flex;
        flex-direction: column;
        align-items: initial;
        padding: 0;
    }
    footer .copy{
        flex-direction: column-reverse;
        gap: .5rem;
        margin: 0 -2rem;
    }
}
