<div class="topaz">
    <div class="logo">
        <h2>WeLove</h2>
        <i class="fa fa-people-carry-box"></i>
        <small>Where <span>Love</span>, <span>Care</span>, <span>Passion</span>, and <span>Compassion</span> thrive.</small>
    </div>
    <div class="subscribe">
        <h3>Subscribe To Our Mailing List</h3>
        <p>Receive personalized recommendations on how to improve the childs toileting habits.</p>
        <div class="input-group">
            <input type="email" name="email" id="subscribe">
            <button type="submit" class="input-group-append">Subscribe</button>
        </div>              
    </div>
</div>
<div class="contents">
    <div class="essentials">
        <h3>WeLove, We Care.</h3>
        <ul>
            <li>
                <a href="">Data Collection & Privacy</a>
            </li>
            <li>
                <a href="">Ethical Considerations</a>
            </li>
            <li>
                <a href="">Model Biasness</a>
            </li>
            <!-- <li>
                <a href="">Terms of Use</a>
            </li> -->
            <li>
                <a href="">FAQ</a>
            </li>
        </ul>            
    </div>
    <div class="contact">
        <h3>Visit Or Reach Out To Us Today.</h3>
        <ul>
            <li>
                <a href="">
                    <i class="fa fa-map-pin"></i>
                    Westpark Towers, 2nd Flr, Westlands, Nairobi.
                </a>
            </li>
            <li>
                <a href="mailto:info.welove@gmail.com">
                    <i class="fa fa-envelope"></i>
                    info.welove@gmail.com
                </a>
            </li>
            <li>
                <a href="tel:">
                    <i class="fa fa-phone"></i>
                    +254-712-345-678
                </a>
            </li>
            <li>
                <a href="https://api.whatsapp.me/">
                    <i class="fa-brands fa-whatsapp"></i>
                    +254-112-345-678
                </a>
            </li>
        </ul>
    </div>
    <div class="follow">
        <h3>Let's Spread Love Together.</h3>
        <ul>
            <li>
                <a href="">
                    Twitter
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Facebook
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="">
                    Instagram
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="">
                    TikTok
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="copy">
    <p>&copy;2024.WeLove.All rights reserved.</p>

    <p>Made with <i class="fa fa-heart"></i> by WeLove Team.</p>        
</div>
