{% macro render(form) %}
    {{ form.hidden_tag() }}
    <fieldset class="border p-2">
        <legend class="float-none w-auto">Account Details</legend>
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {% if field.name in ('name', 'email', 'username', 'password', 'confirm') %}
                    {% if field.type in ('StringField', 'PasswordField') %}
                        <div class="input-field">
                            {{ field.label(class_='label') }}
                            {{ field(class_='input') }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    <p class="form-error">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="input-field">
                            {{ field.label(class_='label') }}
                            {{ field(class_='radio') }}
                            {% if field.errors %}
                            {% for e in field.errors %}
                                <p class="form-error">{{ e }}</p>
                            {% endfor %}
                        {% endif %}
                        </div>
                    {% endif %}
                {% endif %}    
            {% endif %}
        {% endfor %}        
    </fieldset>    
    <fieldset class="border p-2">
        <legend class="float-none w-auto">Relevant Details</legend>
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {% if field.name not in ('name', 'email', 'username', 'password', 'confirm') %}
                    {% if field.type in('SelectField', 'IntegerField') %}
                        <div class="input-field">
                            {{ field.label(class_='label') }}
                            {{ field(class_='input') }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    <p class="form-error">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="input-field">
                            {{ field.label(class_='label') }}
                            {{ field(class_='radio') }}
                            {% if field.errors %}
                                {% for e in field.errors %}
                                    <p class="form-error">{{ e }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}    
            {% endif %}
        {% endfor %} 
    </fieldset>
{% endmacro %}
