<nav id="nav">
    <ul class="nav-items">
        <li class="nav-item" data-url="{{ url_for('main.index') }}">
            WeLove
            <i class="fa fa-people-carry-box"></i>
        </li>
        <li class="nav-item" data-url="{{ url_for('main.about') }}">
            About
        </li>
        <li class="nav-item" data-url="{{ url_for('main.predict') }}">
            Austin
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item" id="sign" data-url="{{ url_for('auth.login')}}">
            <span>Sign-In</span> <i class="fa fa-sign-in"></i>
        </li>
        {% else %}
        <li class="user">
            <span id="dropdown">
                {{ current_user.username | title }}
                <img src="{{ url_for('static', filename='images/user.jpg')}}" alt="">
            </span>
            <ul id="dropdown-menu">
                <li class="nav-item">
                    Profile
                </li>
                <li class="nav-item">
                    Dashboard
                </li>
                <li class="nav-item" id="log" data-url="{{ url_for('auth.logout') }}">
                    Log out <i class="fa fa-sign-out"></i>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>
